.card-title, .card-text, .card-footer small, .btn-outline-primary {
  color: white !important; 
}

.btn-outline-primary {
  border-color: white; 
}

.btn-outline-primary:hover {
  background-color: #ffffff; 
  color: #0d1b2a; 
}